@charset "utf-8";

$footer-padding: 3rem 1.5rem;
$width-preview: 65vh;

@import "~bulma/bulma.sass";

.preview-1row {
  width: 115vh;
}

.preview-2row {
  width: 90vh;
}

.preview-3row {
  width: 80vh;
}

.preview-4row {
  width: 65vh;
}

.preview-5row {
  width: 45vh;
}

.is-disable {
  pointer-events: none;
  opacity: .65;
}
